@model HostelService.Models.Client

@{
    ViewBag.Title = "Удаление";
}


<h3>Вы уверены что хотите удалить текущую запись?</h3>
<div>
    <h4>Посетитель</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Фамилия")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayName("Имя")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayName("Отчество")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Second_name)
        </dd>

        <dt>
            @Html.DisplayName("Паспортные данные")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passport)
        </dd>

        <dt>
            @Html.DisplayName("Контактный номер")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
